# coding: utf-8

"""
    VictorOps API

    This API allows you to interact with the VictorOps platform in various ways. Your account may be limited to a total number of API calls per month. Also, some of these API calls have rate limits.  NOTE: In this documentation when creating a sample curl request (clicking the TRY IT OUT! button), in some API viewing interfaces, the '@' in an email address may be encoded. Please note that the REST endpoints will not process the encoded version. Make sure that the encoded character '%40' is changed to its unencoded form before submitting the curl request. 

    OpenAPI spec version: 0.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class OncallApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def team_team_oncall_schedule_get(self, x_vo_api_id, x_vo_api_key, team, **kwargs):
        """
        Get a team's on-call schedule
        Get the on-call schedule for a user for all teams, including on-call overrides.  This API may be called a maximum of 15 times per minute. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.team_team_oncall_schedule_get(x_vo_api_id, x_vo_api_key, team, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str x_vo_api_id: Your API ID (required)
        :param str x_vo_api_key: Your API Key (required)
        :param str team: The VictorOps team 'slug' (required)
        :param float days_forward: Days to include in returned schedule (30 max)
        :param float days_skip: Days to skip before computing schedule to return (90 max)
        :param float step: Step of escalation policy (3 max)
        :return: OnCallAndOverrides
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.team_team_oncall_schedule_get_with_http_info(x_vo_api_id, x_vo_api_key, team, **kwargs)
        else:
            (data) = self.team_team_oncall_schedule_get_with_http_info(x_vo_api_id, x_vo_api_key, team, **kwargs)
            return data

    def team_team_oncall_schedule_get_with_http_info(self, x_vo_api_id, x_vo_api_key, team, **kwargs):
        """
        Get a team's on-call schedule
        Get the on-call schedule for a user for all teams, including on-call overrides.  This API may be called a maximum of 15 times per minute. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.team_team_oncall_schedule_get_with_http_info(x_vo_api_id, x_vo_api_key, team, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str x_vo_api_id: Your API ID (required)
        :param str x_vo_api_key: Your API Key (required)
        :param str team: The VictorOps team 'slug' (required)
        :param float days_forward: Days to include in returned schedule (30 max)
        :param float days_skip: Days to skip before computing schedule to return (90 max)
        :param float step: Step of escalation policy (3 max)
        :return: OnCallAndOverrides
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_vo_api_id', 'x_vo_api_key', 'team', 'days_forward', 'days_skip', 'step']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method team_team_oncall_schedule_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_vo_api_id' is set
        if ('x_vo_api_id' not in params) or (params['x_vo_api_id'] is None):
            raise ValueError("Missing the required parameter `x_vo_api_id` when calling `team_team_oncall_schedule_get`")
        # verify the required parameter 'x_vo_api_key' is set
        if ('x_vo_api_key' not in params) or (params['x_vo_api_key'] is None):
            raise ValueError("Missing the required parameter `x_vo_api_key` when calling `team_team_oncall_schedule_get`")
        # verify the required parameter 'team' is set
        if ('team' not in params) or (params['team'] is None):
            raise ValueError("Missing the required parameter `team` when calling `team_team_oncall_schedule_get`")

        if 'days_forward' in params and params['days_forward'] > 30.0:
            raise ValueError("Invalid value for parameter `days_forward` when calling `team_team_oncall_schedule_get`, must be a value less than or equal to `30.0`")
        if 'days_forward' in params and params['days_forward'] < 0.0:
            raise ValueError("Invalid value for parameter `days_forward` when calling `team_team_oncall_schedule_get`, must be a value greater than or equal to `0.0`")
        if 'days_skip' in params and params['days_skip'] > 90.0:
            raise ValueError("Invalid value for parameter `days_skip` when calling `team_team_oncall_schedule_get`, must be a value less than or equal to `90.0`")
        if 'days_skip' in params and params['days_skip'] < 0.0:
            raise ValueError("Invalid value for parameter `days_skip` when calling `team_team_oncall_schedule_get`, must be a value greater than or equal to `0.0`")
        if 'step' in params and params['step'] > 3.0:
            raise ValueError("Invalid value for parameter `step` when calling `team_team_oncall_schedule_get`, must be a value less than or equal to `3.0`")
        if 'step' in params and params['step'] < 0.0:
            raise ValueError("Invalid value for parameter `step` when calling `team_team_oncall_schedule_get`, must be a value greater than or equal to `0.0`")

        collection_formats = {}

        resource_path = '/team/{team}/oncall/schedule'.replace('{format}', 'json')
        path_params = {}
        if 'team' in params:
            path_params['team'] = params['team']

        query_params = {}
        if 'days_forward' in params:
            query_params['daysForward'] = params['days_forward']
        if 'days_skip' in params:
            query_params['daysSkip'] = params['days_skip']
        if 'step' in params:
            query_params['step'] = params['step']

        header_params = {}
        if 'x_vo_api_id' in params:
            header_params['X-VO-Api-Id'] = params['x_vo_api_id']
        if 'x_vo_api_key' in params:
            header_params['X-VO-Api-Key'] = params['x_vo_api_key']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='OnCallAndOverrides',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def team_team_oncall_user_patch(self, x_vo_api_id, x_vo_api_key, body, team, **kwargs):
        """
        Create an on-call override (take on-call)
        Replaces a currently on-call user on the team with another.  This API may be called a maximum of 6 times per minute. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.team_team_oncall_user_patch(x_vo_api_id, x_vo_api_key, body, team, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str x_vo_api_id: Your API ID (required)
        :param str x_vo_api_key: Your API Key (required)
        :param TakeRequest body: The take on-call payload (required)
        :param str team: The VictorOps team 'slug' (required)
        :return: TakeResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.team_team_oncall_user_patch_with_http_info(x_vo_api_id, x_vo_api_key, body, team, **kwargs)
        else:
            (data) = self.team_team_oncall_user_patch_with_http_info(x_vo_api_id, x_vo_api_key, body, team, **kwargs)
            return data

    def team_team_oncall_user_patch_with_http_info(self, x_vo_api_id, x_vo_api_key, body, team, **kwargs):
        """
        Create an on-call override (take on-call)
        Replaces a currently on-call user on the team with another.  This API may be called a maximum of 6 times per minute. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.team_team_oncall_user_patch_with_http_info(x_vo_api_id, x_vo_api_key, body, team, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str x_vo_api_id: Your API ID (required)
        :param str x_vo_api_key: Your API Key (required)
        :param TakeRequest body: The take on-call payload (required)
        :param str team: The VictorOps team 'slug' (required)
        :return: TakeResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_vo_api_id', 'x_vo_api_key', 'body', 'team']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method team_team_oncall_user_patch" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_vo_api_id' is set
        if ('x_vo_api_id' not in params) or (params['x_vo_api_id'] is None):
            raise ValueError("Missing the required parameter `x_vo_api_id` when calling `team_team_oncall_user_patch`")
        # verify the required parameter 'x_vo_api_key' is set
        if ('x_vo_api_key' not in params) or (params['x_vo_api_key'] is None):
            raise ValueError("Missing the required parameter `x_vo_api_key` when calling `team_team_oncall_user_patch`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `team_team_oncall_user_patch`")
        # verify the required parameter 'team' is set
        if ('team' not in params) or (params['team'] is None):
            raise ValueError("Missing the required parameter `team` when calling `team_team_oncall_user_patch`")


        collection_formats = {}

        resource_path = '/team/{team}/oncall/user'.replace('{format}', 'json')
        path_params = {}
        if 'team' in params:
            path_params['team'] = params['team']

        query_params = {}

        header_params = {}
        if 'x_vo_api_id' in params:
            header_params['X-VO-Api-Id'] = params['x_vo_api_id']
        if 'x_vo_api_key' in params:
            header_params['X-VO-Api-Key'] = params['x_vo_api_key']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'PATCH',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='TakeResult',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def user_user_oncall_schedule_get(self, x_vo_api_id, x_vo_api_key, user, **kwargs):
        """
        Get a user's on-call schedule
        Get the on-call schedule for a user for all teams, including on-call overrides.  This API may be called a maximum of 15 times per minute. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_user_oncall_schedule_get(x_vo_api_id, x_vo_api_key, user, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str x_vo_api_id: Your API ID (required)
        :param str x_vo_api_key: Your API Key (required)
        :param str user: The VictorOps user ID (required)
        :param float days_forward: Days to include in returned schedule (30 max)
        :param float days_skip: Days to skip before computing schedule to return (90 max)
        :param float step: Step of escalation policy (3 max)
        :return: list[OnCallAndOverrides]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.user_user_oncall_schedule_get_with_http_info(x_vo_api_id, x_vo_api_key, user, **kwargs)
        else:
            (data) = self.user_user_oncall_schedule_get_with_http_info(x_vo_api_id, x_vo_api_key, user, **kwargs)
            return data

    def user_user_oncall_schedule_get_with_http_info(self, x_vo_api_id, x_vo_api_key, user, **kwargs):
        """
        Get a user's on-call schedule
        Get the on-call schedule for a user for all teams, including on-call overrides.  This API may be called a maximum of 15 times per minute. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_user_oncall_schedule_get_with_http_info(x_vo_api_id, x_vo_api_key, user, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str x_vo_api_id: Your API ID (required)
        :param str x_vo_api_key: Your API Key (required)
        :param str user: The VictorOps user ID (required)
        :param float days_forward: Days to include in returned schedule (30 max)
        :param float days_skip: Days to skip before computing schedule to return (90 max)
        :param float step: Step of escalation policy (3 max)
        :return: list[OnCallAndOverrides]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_vo_api_id', 'x_vo_api_key', 'user', 'days_forward', 'days_skip', 'step']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method user_user_oncall_schedule_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_vo_api_id' is set
        if ('x_vo_api_id' not in params) or (params['x_vo_api_id'] is None):
            raise ValueError("Missing the required parameter `x_vo_api_id` when calling `user_user_oncall_schedule_get`")
        # verify the required parameter 'x_vo_api_key' is set
        if ('x_vo_api_key' not in params) or (params['x_vo_api_key'] is None):
            raise ValueError("Missing the required parameter `x_vo_api_key` when calling `user_user_oncall_schedule_get`")
        # verify the required parameter 'user' is set
        if ('user' not in params) or (params['user'] is None):
            raise ValueError("Missing the required parameter `user` when calling `user_user_oncall_schedule_get`")

        if 'days_forward' in params and params['days_forward'] > 30.0:
            raise ValueError("Invalid value for parameter `days_forward` when calling `user_user_oncall_schedule_get`, must be a value less than or equal to `30.0`")
        if 'days_forward' in params and params['days_forward'] < 0.0:
            raise ValueError("Invalid value for parameter `days_forward` when calling `user_user_oncall_schedule_get`, must be a value greater than or equal to `0.0`")
        if 'days_skip' in params and params['days_skip'] > 90.0:
            raise ValueError("Invalid value for parameter `days_skip` when calling `user_user_oncall_schedule_get`, must be a value less than or equal to `90.0`")
        if 'days_skip' in params and params['days_skip'] < 0.0:
            raise ValueError("Invalid value for parameter `days_skip` when calling `user_user_oncall_schedule_get`, must be a value greater than or equal to `0.0`")
        if 'step' in params and params['step'] > 3.0:
            raise ValueError("Invalid value for parameter `step` when calling `user_user_oncall_schedule_get`, must be a value less than or equal to `3.0`")
        if 'step' in params and params['step'] < 0.0:
            raise ValueError("Invalid value for parameter `step` when calling `user_user_oncall_schedule_get`, must be a value greater than or equal to `0.0`")

        collection_formats = {}

        resource_path = '/user/{user}/oncall/schedule'.replace('{format}', 'json')
        path_params = {}
        if 'user' in params:
            path_params['user'] = params['user']

        query_params = {}
        if 'days_forward' in params:
            query_params['daysForward'] = params['days_forward']
        if 'days_skip' in params:
            query_params['daysSkip'] = params['days_skip']
        if 'step' in params:
            query_params['step'] = params['step']

        header_params = {}
        if 'x_vo_api_id' in params:
            header_params['X-VO-Api-Id'] = params['x_vo_api_id']
        if 'x_vo_api_key' in params:
            header_params['X-VO-Api-Key'] = params['x_vo_api_key']

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[OnCallAndOverrides]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
